body{
     background:rgb(248, 248, 255)
}
#banner{
     width: 100%;
}
h1{
     text-align: center;
}
p{
          text-align: center
}
#missão{
     font-size:50px;
}
    
em strong {
     color: #FF0000;
}
